@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.DerechosMinerosDTO>

<div class="clearfix"></div>
<div class="table-responsive">
    <table id="fulltbl9" class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Código</th>
                <th class="column-title">Nombre</th>
                <th class="column-title">UEA</th>
                <th class="column-title">Tipo</th>
                <th class="column-title">Sustancia</th>
                <th class="column-title">Situación</th>
                <th class="column-title">Estado</th>
                <th class="column-title">Resolución</th>
                <th class="column-title">Fecha</th>
                <th class="column-title">Resolución de Caducidad</th>
                <th class="column-title">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd pointer">
                    <td class=" ">
                        @item.Codigo
                    </td>
                    <td class=" ">
                        @item.Nombre
                    </td>
                    <td class=" ">
                        @item.UEA
                    </td>
                    <td class=" ">
                        @item.Tipo
                    </td>
                    <td class=" ">
                        @item.Sustancia
                    </td>
                    <td class=" ">
                        @item.Situacion
                    </td>
                    <td class=" ">
                        @item.Estado
                    </td>
                    <td class=" ">
                        @item.Resolucion
                    </td>
                    <td class=" ">
                        @item.Fecha_Resolucion
                    </td>
                    <td class=" ">
                        @item.Resolucion_Caducidad
                    </td>
                    <td class=" ">
                        @item.Fecha_Caducidad
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>