@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.Comp_Est_AmbDTO>

<div class="x_titleGrupo">
    <div align="center" class="titulo-m">
    </div>

    <ul class="nav navbar-right panel_toolbox">
        <li>
            <div class="boton">
                <a href="#" data-toggle="modal" data-target="#modal19" onclick="ShowModal('@Url.Action("CrearEstudioAmbientales", "RegistrarPAM")', 'fullEstudioAmbientales')">Agregar  <i class="fa fa-plus"></i></a>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="table-responsive">
    <table id="fulltbl13" class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Tipo</th>
                <th class="column-title">Nombre</th>
                <th class="column-title">Unidad Ambienta</th>
                <th class="column-title">Nombre Proyecto</th>
                <th class="column-title">Resolución de Aprobación</th>
                <th class="column-title">Fecha de Resolución</th>
                <th class="column-title">Número Expediente </th>
                <th class="column-title">Fecha Expediente </th>
                <th class="column-title">Situación </th>
                <th class="column-title">Resolución </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd pointer">
                    <td class=" ">
                        @item.Tipo_Estudio
                    </td>
                    <td class=" ">
                        @item.Des_Nom_Titular
                    </td>
                    <td class=" ">
                        @item.Des_Und_Ambiental
                    </td>
                    <td class=" ">
                        @item.Des_Nom_Proyecto
                    </td>
                    <td class=" ">
                        @item.Res_Aprobacion
                    </td>
                    <td class=" ">
                        @item.Fec_Resolucion.GetValueOrDefault().ToShortDateString()
                    </td>
                    <td class=" ">
                        @item.Nro_Expediente
                    </td>
                    <td class=" ">
                        @item.Fec_Expediente.GetValueOrDefault().ToShortDateString()
                    </td>
                    <td class=" ">
                        @item.Des_Situacion
                    </td>
                    <td class=" "><a href="#" class="enlace">
                        Resol_01
                        </a></td>
                </tr>
            }
        </tbody>
    </table>
</div>