@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.Comp_Info_GraficaDTO>

<div class="x_titleGrupo">
    <div align="center" class="titulo-m">
    </div>

    <ul class="nav navbar-right panel_toolbox">
        <li>
            <div class="boton">
                <a href="#" data-toggle="modal" data-target="#modal13" onclick="ShowModal('@Url.Action("CrearInformacionGrafica", "RegistrarPAM")', 'fullInformacionGrafica')">Agregar  <i class="fa fa-plus"></i></a>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="table-responsive">
    <table id="fulltbl7" class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title col-8">Nombre</th>
                <th class="column-title col-1">Fecha</th>
                <th class="column-title col-2">Usuario</th>
                <th class="column-title col-1">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd pointer">
                    <td class=" col-lg-8">
                        @item.Nombre_Imagen
                    </td>
                    <td class=" col-lg-1">
                        @item.Fecha.GetValueOrDefault().ToShortDateString()
                    </td>
                    <td class=" col-lg-2">
                        @item.Usu_Ingreso
                    </td>
                    <td class=" col-lg-1" style="text-align:center">
                        @if (item.Id_LaserFiche.GetValueOrDefault() > 0)
                        {
                            <button type="button" class="boton2" style="margin-right: 0px;" onclick="DescargarArchivo(@item.Id_LaserFiche.ToString(), '@item.Nombre_Imagen')"> <i class="fa fa-download" ></i></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>