@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.Comp_MedicionDTO>

<div class="x_titleGrupo">
    <div align="center" class="titulo-m">
    </div>

    <ul class="nav navbar-right panel_toolbox">
        <li>
            <div class="boton">
                <a href="#" data-toggle="modal" data-target="#modal12" onclick="ShowModal('@Url.Action("CrearMedicionesCampo", "RegistrarPAM")', 'fullMedicionesCampo')">Agregar  <i class="fa fa-plus"></i></a>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Fecha</th>
                <th class="column-title">PH</th>
                <th class="column-title">Conductividad (uS/cm)</th>
                <th class="column-title">Caudal (l/s)</th>
                <th class="column-title">Observación </th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr class="even pointer">
                    <td class=" " colspan="5">
                        No existe registros
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr class="odd pointer">
                        <td class=" ">
                            @item.Fecha_Desicion.ToShortDateString()
                        </td>
                        <td class=" ">
                            @item.Ph
                        </td>
                        <td class=" ">
                            @item.Conductividad
                        </td>
                        <td class=" ">
                            @item.Caudal
                        </td>
                        <td class=" ">
                            @item.Observacion
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>