@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.Comp_Riesgo_Sal_AmbDTO>

<div class="x_titleGrupo">
    <div align="center" class="titulo-m">
    </div>

    <ul class="nav navbar-right panel_toolbox">
        <li>
            <div class="boton">
                <a href="#" data-toggle="modal" data-target="#modal10" onclick="ShowModal('@Url.Action("CrearRiesgosSaludHumana", "RegistrarPAM")', 'fullRiesgosSaludHumana')">Agregar  <i class="fa fa-plus"></i></a>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="table-responsive">
    <table id="fulltbl4" class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Evidencia de erosión hídrica o eólica</th>
                <th class="column-title"> Evidencia de inundaciones descargas</th>
                <th class="column-title"> Potencial de drenaje ácido </th>
                <th class="column-title"> Evidencia de sustancias tóxicas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd pointer">
                    <td class=" ">
                        @item.Evidencia_Erosion
                    </td>
                    <td class=" ">
                        @item.Evidencia_Inundacion
                    </td>
                    <td class=" ">
                        @item.Potencial_Ard
                    </td>
                    <td class=" ">
                        @item.Evidencia_Sus_Toxica
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>