@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.TitularesReferencialesDerechosDTO>

<div class="clearfix"></div>
<div class="table-responsive">
    <table id="fulltbl11" class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Titular Nombre Derecho Minero</th>
                <th class="column-title">Fec. Inicio</th>
                <th class="column-title">Fec. Fin</th>
                <th class="column-title">Estado</th>
                <th class="column-title">Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd pointer">
                    <td class=" ">
                        @item.Titular_Referencial
                    </td>
                    <td class=" ">
                        @item.Fecha_Inicio
                    </td>
                    <td class=" ">
                        @item.Fecha_Final
                    </td>
                    <td class=" ">
                        @item.Estado
                    </td>
                    <td class=" " style="text-align:center">
                        <button type="button" class="boton2" style="margin-right: 0px;" onclick="VerDetalleTM('@item.Codigo', '@item.Titular_Referencial')"> <i class="fa fa-search-plus"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>