@using Minem.Sgpam.InfraEstructura;
@using Minem.Sgpam.InfraEstructura.Enumerados;
@model Minem.Sgpam.TransporteDatos.DtoEntidades.RegistrarEumDTO

@{
    ViewData["Title"] = "Ex Unidad Minera";
}

<form id="MyForm" asp-controller="Eum" asp-action="AgregarEditar" autocomplete="off" data-ajax="true" data-ajax-method="POST">

    <div class="rowGroup">
        <h1 class="grupoT">1. Historial Modificaciones</h1>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre EUM</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Eum_Descripcion" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Acceso a EUM</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Acceso_Eum" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Usuario </th>
                        <th class="column-title">Cargo </th>
                        <th class="column-title">Fecha de Modificación</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaHistorial.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="3">No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.ListaHistorial)
                        {
                            <tr class="even pointer">
                                <td class=" ">@item.Usu_Ingreso</td>
                                <td class=" ">@item.Cargo</td>
                                <td class=" ">@item.Fec_Ingreso</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="rowGroup">
        <h1 class="grupoT">2. Inspecciòn</h1>
        <div class="x_titleGroup">

            <div align="center" class="titulo-m">
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    @if (@Model.Eum.Id_Eum != 0)
                    {
                        @*<div class="boton">
                                <a href="#modal4" data-toggle="modal" data-target="#modal4">Agregar  <i class="fa fa-plus"></i></a>
                            </div>*@
                    <div class="boton">
                        <a href="#" data-toggle="modal" data-target="#modal2" onclick="ShowModal('@Url.Action("CrearInspeccion", "Eum")', 'fullInspeccion')">Agregar  <i class="fa fa-plus"></i></a>
                    </div>

                    }
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Inspector </th>
                        <th class="column-title">Fecha de Inspeccion </th>
                        <th class="column-title">Hora Inspección</th>
                        <th class="column-title">Clima</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaInspeccion.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="4">No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaInspeccion)
                        {
                            <tr class="even pointer">
                                <td class=" ">@item.Id_Inspector </td>
                                <td class=" ">@item.Fecha_Inspeccion</td>
                                <td class=" ">@item.Fecha_Inspeccion</td>
                                <td class=" ">@item.Id_Tipo_Clima</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">3. Ubicación</h1>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Region </th>
                        <th class="column-title">Provincia </th>
                        <th class="column-title">Distrito</th>
                        <th class="column-title">Cuenca Principal</th>
                        <th class="column-title">Paraje</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaUbicacion.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="5">No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaUbicacion)
                        {
                            <tr class="even pointer">
                                <td class=" ">@item.Ubigeo</td>
                                <td class=" ">@item.Ubigeo</td>
                                <td class=" ">@item.Ubigeo</td>
                                <td class=" ">@item.Id_Cuenca_Principal</td>
                                <td class=" ">@item.Paraje</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">4. Información adicional</h1>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Historia EUM</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Historia_Eum" rows="3" class="form-controlArea" />
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Evidencia de actividades recientes</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Evidencia_Act_Rec" rows="3" class="form-controlArea" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">5. Tipo de operación y sustancia</h1>
        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo operación:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select id="vId_Tipo_Operacion" class="select2_single form-control" asp-for="@Model.Eum.Id_Tipo_Operacion" asp-items="(List<SelectListItem>)ViewBag.CboTipoOperacion">
                        <option value="">Seleccione</option>
                    </select>
                    <input type="hidden" asp-for="@Model.Eum.Id_Tipo_Operacion" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo sustancia:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select id="vId_Tipo_Sustancia" class="select2_single form-control" asp-for="@Model.Eum.Id_Tipo_Sustancia" asp-items="(List<SelectListItem>)ViewBag.CboTipoSustancia">
                        <option value="">Seleccione</option>
                    </select>
                    <input type="hidden" asp-for="@Model.Eum.Id_Tipo_Sustancia" />
                </div>
            </div>
        </div>
        @*@Html.Partial("_OperacionSustancia", Model.Eum)*@
        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">6. Ambiente Circulante</h1>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Relieve:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Eum.Relieve" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Cuerpos de agua:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Eum.Cuerpos_Agua" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Conflicto social:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    @*<select class="select2_single form-control" tabindex="-1">
                            <option></option>
                            <option value="ab">Opcion 1</option>
                            <option value="bc">Opcion 2</option>
                        </select>*@
                    <select id="vId_Conflicto_Social" class="select2_single form-control" asp-for="@Model.Eum.Id_Conflicto_Social" asp-items="(List<SelectListItem>)ViewBag.CboConflictoSocial">
                        <option value="">Seleccione</option>
                    </select>
                    <input type="hidden" asp-for="@Model.Eum.Id_Conflicto_Social" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Flora Terr.:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Eum.Flora_Terrestre" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Fauna Terr.:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Eum.Fauna_Terreste" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Flora y Fauna Acuat.:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Eum.Flora_Fauna_Acuatica" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Infraestructura urbana:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Eum.Infra_Urbana" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Usos de Suelo:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Eum.Uso_Suelo" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Usos de Agua:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Eum.Uso_Agua" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Áreas de conservación:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Area_Conservacion" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Sitios Arq. o Turist.:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Sitio_Arque_Turistico" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Conflicto Social:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Conflicto_Social" class="form-control" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">7. Comentarios adicional</h1>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción EUM</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Descripcion_Eum" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Comentarios adicional</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Comentario_Adi" class="form-control" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">8. Información Gráfica</h1>
        <div class="x_titleGroup">

            <div align="center" class="titulo-m">
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    @if (@Model.Eum.Id_Eum != 0)
                    {
                        <div class="boton">
                            <a href="#modal4" data-toggle="modal" data-target="#modal4">Agregar  <i class="fa fa-plus"></i></a>
                        </div>
                    }
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Fotografia </th>
                        <th class="column-title">Fecha Toma </th>
                        <th class="column-title">Tamaño </th>
                        <th class="column-title">Descripción </th>
                        <th class="column-title no-link last"><span class="nobr">Opciones</span></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaInformacionGrafica.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="5">No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaInformacionGrafica)
                        {
                            <tr class="even pointer">
                                <td class=" ">@item.Nombre_Imagen</td>
                                <td class=" ">@item.Fec_Ingreso</td>
                                <td class=" ">@item.Tamano</td>
                                <td class=" ">@item.Ruta_Imagen</td>
                                <td class=" ">
                                    <ul class="nav navbar-left panel_toolbox">
                                        <li>
                                            <div class="boton2">
                                                <a href="#"> <i class="fa fa-arrow-down"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="boton2">
                                                <a href="#"> <i class="fa fa-trash-o "></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                @*<tbody>
                        <tr class="even pointer">
                            <td class=" last">
                                <ul class="nav navbar-left panel_toolbox">
                                    <li>
                                        <div class="boton2">
                                            <a href="#"> <i class="fa fa-arrow-down"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="boton2">
                                            <a href="#"> <i class="fa fa-trash-o "></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>*@
            </table>
        </div>

    </div>


    <div class="rowGroup">
        <h1 class="grupoT">9. Derechos Mineros</h1>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Codigo </th>
                        <th class="column-title">Nombre </th>
                        <th class="column-title">UEA</th>
                        <th class="column-title">Tipo</th>
                        <th class="column-title">Sustancia</th>
                        <th class="column-title">Situación</th>
                        <th class="column-title">Estado</th>
                        <th class="column-title">Resolución que otrorga</th>
                        <th class="column-title">Fecha RO</th>
                        <th class="column-title">Resolución de caducidad</th>
                        <th class="column-title">Fecha RCv</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="even pointer">
                        <td class=" ">- </td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">10. Situación y Principios Productos</h1>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Año </th>
                        <th class="column-title">Nombre Derecho Minero o UEA </th>
                        <th class="column-title">Situación</th>
                        <th class="column-title">Tipo Concentrado</th>
                        <th class="column-title">Cantidad (TM)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="even pointer">
                        <td class=" ">- </td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">11. Titulares Referenciales</h1>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Titular </th>
                        <th class="column-title">Nombre Derecho Minero </th>
                        <th class="column-title">Fecha Inicio</th>
                        <th class="column-title">Fecha Fin</th>
                        <th class="column-title">Estado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="even pointer">
                        <td class=" ">- </td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                        <td class=" ">-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">12. Descargos de Responsabilidad</h1>
        <div class="x_titleGroup">

            <div align="center" class="titulo-m">
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    @if (@Model.Eum.Id_Eum != 0)
                    {
                        <div class="boton">
                            <a href="#modal5" data-toggle="modal" data-target="#modal5">Agregar  <i class="fa fa-plus"></i></a>
                        </div>
                    }
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Fecha </th>
                        <th class="column-title">Titular </th>
                        <th class="column-title">Declaración de Responsabilidad</th>
                        <th class="column-title">Asunto</th>
                        <th class="column-title">Archivo</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaInformacionDescargo.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="5">No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaInformacionDescargo)
                        {
                            <tr class="even pointer">
                                <td class=" ">@item.Fecha_Descargo</td>
                                <td class=" ">@item.Titular</td>
                                <td class=" ">@item.Declaracion</td>
                                <td class=" ">@item.Asunto</td>
                                <td class=" ">
                                    <ul class="nav navbar-left panel_toolbox">
                                        <li>
                                            <div class="boton2">
                                                <a href="#"> <i class="fa fa-arrow-down"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="boton2">
                                                <a href="#"> <i class="fa fa-trash-o "></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                @*<td class=" "><a href="#" class="enlace">Dec_01.pdf</a></td>*@
            </table>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">13. Informes</h1>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Nro de Informe</th>
                        <th class="column-title">Descripción </th>
                        <th class="column-title">Nro Expediente</th>
                        <th class="column-title">Archivo</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaInformacionDescargo.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="4">No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaInformacionDescargo)
                        {
                            <tr class="even pointer">
                                <td class=" ">@item.Fecha_Descargo</td>
                                <td class=" ">@item.Titular</td>
                                <td class=" ">@item.Declaracion</td>
                                <td class=" ">
                                    <ul class="nav navbar-left panel_toolbox">
                                        <li>
                                            <div class="boton2">
                                                <a href="#"> <i class="fa fa-arrow-down"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="boton2">
                                                <a href="#"> <i class="fa fa-trash-o "></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                @*<td class=" "><a href="#" class="enlace">Dec_01.pdf</a></td>*@
            </table>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">13. Componentes Activos</h1>
        <!-- titulo -->
        <div class="x_titleGroup">
            <div align="center" class="titulo-m">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 form-group">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de componente</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select class="select2_single form-control" id="cboTipoComponente">
                            <option></option>
                            <option value="1" selected>LABOR MINERA</option>
                            <option value="2">RESIDUO MINERO</option>
                            <option value="3">OTRO RESIDUO</option>
                            <option value="4">INFRAESTRUCTURA</option>
                            <option value="5">SUSTANCIA QUIMICA</option>
                        </select>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    @if (@Model.Eum.Id_Eum != 0)
                    {
                        <div class="boton">
                            <a href="#" onclick="FullNewComponent()">Agregar  <i class="fa fa-plus"></i></a>
                        </div>
                    }
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- fin titulo  -->
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">ID Componente </th>
                        <th class="column-title">Nombre Componente </th>
                        <th class="column-title">Tipo</th>
                        <th class="column-title">Sub Tipo</th>
                        <th class="column-title">Este</th>
                        <th class="column-title">Norte</th>
                        <th class="column-title">Zona</th>
                        <th class="column-title">Datum</th>
                        <th class="column-title">Responsable</th>
                        <th class="column-title">Riesgo</th>
                        <th class="column-title">Puntaje</th>
                        <th class="column-title">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaComponenteActivo.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="12">
                                No existe registros
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaComponenteActivo)
                        {
                            <tr class="odd pointer">
                                <td class=" ">
                                    @item.Id_Componente.ToString("D9")
                                </td>
                                <td class=" ">
                                    @item.Nombre
                                </td>
                                <td class=" ">
                                    @item.Tipo
                                </td>
                                <td class=" ">
                                    @item.SubTipo
                                </td>
                                <td class=" ">
                                    @item.Este
                                </td>
                                <td class=" ">
                                    @item.Norte
                                </td>
                                <td class=" ">
                                    @item.Zona
                                </td>
                                <td class=" ">
                                    @item.Datum
                                </td>
                                <td class=" ">
                                    @item.Responsable
                                </td>
                                <td class=" ">
                                    @item.Riesgo
                                </td>
                                <td class=" ">
                                    @item.Puntaje
                                </td>
                                <td class=" ">
                                    @switch (item.Tipo.ToUpper())
                                    {
                                        case "LABOR MINERA":
                                            <div class="boton2"><a href="@Url.Action("LaborMinera", "RegistrarPAM", new { vId = item.Id_Componente })"> <i class="fa fa-edit "></i></a></div>
                                            break;
                                        case "RESIDUO MINERO":
                                            <div class="boton2"><a href="@Url.Action("ResiduoMinero", "RegistrarPAM", new { vId = item.Id_Componente })"> <i class="fa fa-edit "></i></a></div>
                                            break;
                                        case "OTRO RESIDUO":
                                            <div class="boton2"><a href="@Url.Action("OtrosResiduos", "RegistrarPAM", new { vId = item.Id_Componente })"> <i class="fa fa-edit "></i></a></div>
                                            break;
                                        case "INFRAESTRUCTURA":
                                            <div class="boton2"><a href="@Url.Action("Infraestructura", "RegistrarPAM", new { vId = item.Id_Componente })"> <i class="fa fa-edit "></i></a></div>
                                            break;
                                        case "SUSTANCIA QUIMICA":
                                            <div class="boton2"><a href="@Url.Action("SustanciasQuimicas", "RegistrarPAM", new { vId = item.Id_Componente })"> <i class="fa fa-edit "></i></a></div>
                                            break;

                                    }
                                    <div class="boton2">
                                        <a href="#" onclick="FullRemoveComponent(@item.Id_Componente)">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>
    </div>


    <div class="rowGroup">
        <h1 class="grupoT">14. Componentes Inactivos</h1>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Id Componente </th>
                        <th class="column-title">Nombre componente </th>
                        <th class="column-title">Tipo</th>
                        <th class="column-title">Sub tipo</th>
                        <th class="column-title">Este</th>
                        <th class="column-title">Norte</th>
                        <th class="column-title">Zona</th>
                        <th class="column-title">Datum</th>
                        <th class="column-title">Responsable</th>
                        <th class="column-title">Riesgo</th>
                        <th class="column-title">Puntaje</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaComponenteInactivo.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="11">
                                No existe registros
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaComponenteInactivo)
                        {
                            <tr class="odd pointer">
                                <td class=" ">
                                    @item.Id_Componente.ToString("D9")
                                </td>
                                <td class=" ">
                                    @item.Nombre
                                </td>
                                <td class=" ">
                                    @item.Tipo
                                </td>
                                <td class=" ">
                                    @item.SubTipo
                                </td>
                                <td class=" ">
                                    @item.Este
                                </td>
                                <td class=" ">
                                    @item.Norte
                                </td>
                                <td class=" ">
                                    @item.Zona
                                </td>
                                <td class=" ">
                                    @item.Datum
                                </td>
                                <td class=" ">
                                    @item.Responsable
                                </td>
                                <td class=" ">
                                    @item.Riesgo
                                </td>
                                <td class=" ">
                                    @item.Puntaje
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>
    </div>


    <div class="x_title">
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ult. Registro</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Fec_Ingreso" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Usuario</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Usu_Ingreso" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cargo</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Eum.Usu_Modifica" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="x_title2">
            <div align="center" class="titulo-m">
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" class="boton" id="btnSubmit">
                        Guardar  <i class="fa fa-save"></i>
                    </button>
                </li>
                <li>
                    <div class="boton">
                        <a asp-action="Index"> Cancelar <i class="fa fa-ban"></i></a>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

    </div>

</form>


<!-- Modal 2 Inspeccion -->
<div id="modal2" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frmRiesgosSeguridadHumana" autocomplete="off" data-ajax="true" data-ajax-method="POST">
                <div class="rowGroup" id="fullInspeccion">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- fin modal-->



@section Scripts {
    <script type="text/javascript">
        function FullNewComponent() {
            $.post("@Url.Action("CreateComponent", "Eum")?vIdEum=" + @Model.Eum.Id_Eum + "&vIdTipo=" + $("#cboTipoComponente").val()).done(function (x)
            {
                if (x.operation == "@Constantes.Ok") {
                    alert("Fullshito dice: Operación exitosa");
                    alert(x.key);
                    switch ($("#cboTipoComponente").val()) {
                        case "@((int)TipoPam.LABOR_MINERA)":
                            window.location.href = "@Url.Action("LaborMinera", "RegistrarPAM")?vId=" + x.key;
                            break;
                        case "@((int)TipoPam.RESIDUO_MINERO)":
                            window.location.href = "@Url.Action("ResiduoMinero", "RegistrarPAM")?vId=" + x.key;
                            break;
                        case "@((int)TipoPam.OTRO_RESIDUO)":
                            window.location.href = "@Url.Action("OtrosResiduos", "RegistrarPAM")?vId=" + x.key;
                            break;
                        case "@((int)TipoPam.INFRAESTRUCTURA)":
                            window.location.href = "@Url.Action("Infraestructura", "RegistrarPAM")?vId=" + x.key;
                            break;
                        case "@((int)TipoPam.SUSTANCIA_QUIMICA)":
                            window.location.href = "@Url.Action("SustanciasQuimicas", "RegistrarPAM")?vId=" + x.key;
                            break;
                    }
                    //window.location.reload();
                } else {
                    alert("Fullshito dice: Ocurrió un error al grabar en el servidor")
                }
            }).fail(function (a, b, c) {
                alert("Result: " + b + " " + c + " " + a.status + " " + a.statusText)
            });
        }

        function FullRemoveComponent(vId) {
            $.post("@Url.Action("RemoveComponent", "Eum")?vId=" + vId).done(function (x)
            {
                if (x.operation == "@Constantes.Ok") {
                    alert("Fullshito dice: Operación exitosa");
                    window.location.reload();
                } else {
                    alert("Fullshito dice: Ocurrió un error al grabar en el servidor")
                }
            }).fail(function (a, b, c) {
                alert("Result: " + b + " " + c + " " + a.status + " " + a.statusText)
            });
        }

        $('#btnSubmit').click(function () {

            alert("grabar");
            var vModel = $("#MyForm").serialize();
           //// vModel.push({ name: 'ListaReconocimientoMin', value: vList });
            console.log("model envio");
            console.log(vModel);
            var vData = {};
            $.map(vModel, function (n, i) { vData[n.name] = n.value; });

            console.log("data envio");
            console.log(vData);

             @*$.ajax({
                type: "POST",
                url: $("#MyForm").attr("action"),
                data: vData,
                success: function (data) {
                    if (data.operation == "@Constantes.Ok") {
                        alert("Operación exitosa");
                        window.location.reload();
                    } else {
                        alert("Ocurrió un error al grabar en el servidor");
                    }
                },
                error: function (req, status, error) {
                    console.log(req)
                    alert(req);
                    alert(status);
                    alert(error);
                }
            });*@


        });
    </script>
}