@using Minem.Sgpam.InfraEstructura;
@model Minem.Sgpam.TransporteDatos.DtoEntidades.ListarEumDTO

@{
    ViewData["Title"] = "Ex Unidad Mineras";
}

<form id="MyForm" asp-controller="Eum" asp-action="Index" autocomplete="off" data-ajax="true" data-ajax-method="POST">

    <div class="row">

        <div class="col-md-10 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre EUM</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control text-uppercase" name=vNombreEUM maxlength="50">
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
            <div class="boton">
                <button type="submit" class="bottom">Buscar  <i class="fa fa-search"></i></button>
                @*<a asp-action="Index" asp-route-vNombreEUM="vNombreEUM" asp-route-vUbigeo="vUbigeo" > Buscar <i class="fa fa-search"></i></a>*@
            </div>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboDepartamento">Región:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="select2_single form-control" id="cboDepartamento" tabindex="-1">
                        <option value="0" selected="selected">Seleccione</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboProvincia">Provincia:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="select2_single form-control" id="cboProvincia" tabindex="-1">
                        <option value="0" selected="selected">Seleccione</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cboDistrito">Distrito:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="select2_single form-control" id="cboDistrito" tabindex="-1">
                        <option value="0" selected="selected">Seleccione</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="x_title2">
        <div align="center" class="titulo-m">
            <h3>Lista de Ex Unidades Mineras</h3>
        </div>

        <ul class="nav navbar-right panel_toolbox">
            <li>
                <div class="boton">
                    <a asp-action="AgregarEditar">Agregar <i class="fa fa-plus"></i></a>
                </div>
            </li>
            @*<li>
                <div class="boton">
                    <a asp-action="ExportarExcel">Exportar  <i class="fa fa-file-excel-o"></i></a>
                </div>
            </li>*@
        </ul>

        <div class="clearfix"></div>
    </div>


    @*<table id="datatable1" class="table table-striped table-bordered pam">
        <thead>
            <tr>
                <th>Nombre EUM</th>
                <th>Responsable</th>
                <th>Última visita</th>
                <th>Fecha Informe</th>
                <th>Informe</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.ListaEum.Any())
            {
                <tr class="even pointer">
                    <td class=" " colspan="6">No existen registros</td>
                </tr>
            }
            else
            {
                foreach (var item in Model.ListaEum)
                {
                    <tr class="even pointer">
                        <td class=" ">@item.Eum_Descripcion</td>
                        <td class=" ">@item.Descripcion_Eum</td>
                        <td class=" ">@item.Fec_Ingreso</td>
                        <td class=" "></td>
                        <td class=" "></td>
                        <td class=" ">
                            <ul class="nav navbar-center panel_toolbox">
                                <li>
                                    <div class="boton2">
                                        <a asp-action="AgregarEditar" asp-route-vId="@item.Id_Eum" title="Editar Registro"><i class="fas fa-edit"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>*@

    <div id="DivInformacionGrafica">
        @Html.Partial("_PartialEum", Model.ListaEum)
    </div>



    <input type="hidden" asp-for="Ubigeo" />
    <input type="hidden" name="vUbigeo" id="vUbigeo" />

</form>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script>
        $(document).ready(function () {
            var IdUbigeo = @Html.Raw(Json.Serialize(ViewBag.Ubigeo));
            const dpto = [...new Map(IdUbigeo.map(function (a) { return { id_Departamento: a.id_Departamento, departamento: a.departamento } }).map(a => [a.id_Departamento, a])).values()];
            dpto.forEach(function (o, t) { $("#cboDepartamento").append('<option value="' + o.id_Departamento + '">' + o.departamento + "</option>") });
            $("#cboDepartamento").on("change", function () {
                var data = IdUbigeo.filter(o => o.id_Departamento == $("#cboDepartamento").val());
                const prov = [...new Map(data.map(function (o) { return { id_Provincia: o.id_Provincia, provincia: o.provincia } }).map(o => [o.id_Provincia, o])).values()];
                $("#cboProvincia").empty();
                $("#cboProvincia").append('<option value="0">Seleccione</option>');
                prov.forEach(function (o, i) { $("#cboProvincia").append('<option value="' + o.id_Provincia + '">' + o.provincia + "</option>") })
                //console.log($("#cboDepartamento").val());
                $("#vUbigeo").val($("#cboDepartamento").val());
            });

            $('#cboProvincia').on('change', function () {
                var data = IdUbigeo.filter(x => x.id_Provincia == $('#cboProvincia').val());
                const dist = [...new Map(data.map(function (o) { return { id_Distrito: o.id_Distrito, distrito: o.distrito } }).map(o => [o.id_Distrito, o])).values()];
                $('#cboDistrito').empty();
                $('#cboDistrito').append('<option value="0">Seleccione</option>');
                dist.forEach(function (o, i) { $('#cboDistrito').append('<option value="' + o.id_Distrito + '">' + o.distrito + '</option>') })
                //console.log($("#cboProvincia").val());
                if ($("#cboProvincia").val() === '0')
                    $("#vUbigeo").val($("#cboDepartamento").val());
                else
                    $("#vUbigeo").val($("#cboProvincia").val());
            });

            $('#cboDistrito').on('change', function () {
                var data = IdUbigeo.filter(x => x.id_Distrito == $('#cboDistrito').val());
                //console.log($("#cboDistrito").val());
                if ($("#cboDistrito").val() === '0') 
                    $("#vUbigeo").val($("#cboProvincia").val());
                else 
                    $("#vUbigeo").val($("#cboDistrito").val());
            });

            //if ($("#IdAlmacen").val() > 0) {
            //    var Registro = vUbigeo.filter(i => i.codigoUbigeo == $("#Ubigeo").val())[0];
            //    $("#cboDepartamento").val(Registro.idDepartamento).change(), $("#cboProvincia").val(Registro.idProvincia).change(), $("#cboDistrito").val(Registro.idDistrito)
            //}
        });
    </script>
}
