@using Minem.Sgpam.InfraEstructura;
@using Minem.Sgpam.InfraEstructura.Enumerados;
@model Minem.Sgpam.TransporteDatos.DtoEntidades.RegistrarLnrDTO

@{
    ViewData["Title"] = "Labor No Rehabilitada";
}

<form id="MyForm" asp-controller="Lnr" asp-action="AgregarEditar" autocomplete="off" data-ajax="true" data-ajax-method="POST">

    <div class="rowGroup">
        <h1 class="grupoT">1. Datos Generales</h1>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Cod. LNR </label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Lnr.Id_Lnr" class="form-control" readonly="readonly" />
                </div>
                <input type="hidden" asp-for="@Model.Lnr.Id_Expediente" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Tipo de LNR (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="vId_Tipo_Lnr" class="select2_single form-control" asp-for="@Model.Lnr.Id_Tipo_Lnr" asp-items="(List<SelectListItem>)ViewBag.CboTipoLnr">
                        <option value="">SELECCIONE</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Subtipo de LNR (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="vId_Sub_Tipo_Lnr" class="select2_single form-control" asp-for="@Model.Lnr.Id_Sub_Tipo_Lnr" asp-items="(List<SelectListItem>)ViewBag.CboSubTipoLnr">
                        <option value="">SELECCIONE</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Cod Declarado:</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input asp-for="@Model.Lnr.Codigo_Declarado" class="form-control" maxlength="30" />
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Subtipo declarado:</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Sub_Tipo_Declarado" class="form-control" maxlength="90" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="rowGroup">
        <h1 class="grupoT">2. Ubicación</h1>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Región (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="vId_Region" class="select2_single form-control" asp-for="@Model.Lnr.Id_Region" asp-items="(List<SelectListItem>)ViewBag.CboRegion">
                        <option value="">SELECCIONE</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Provincia (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="vId_Provincia" class="select2_single form-control" asp-for="@Model.Lnr.Id_Provincia" asp-items="(List<SelectListItem>)ViewBag.CboProvincia">
                        <option value="">SELECCIONE</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Distrito (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="vId_Distrito" class="select2_single form-control" asp-for="@Model.Lnr.Id_Distrito" asp-items="(List<SelectListItem>)ViewBag.CboDistrito">
                        <option value="">SELECCIONE</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Coordenada Este (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="number" asp-for="@Model.Lnr.Este" class="form-control" max="99999999.99" min="-99999999.99" maxlength="10" oninput="fMaxLength(this)" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Coordenada Norte (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <input type="number" asp-for="@Model.Lnr.Norte" class="form-control" max="99999999.99" min="-99999999.99" maxlength="10" oninput="fMaxLength(this)" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Zona (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="vZona" class="select2_single form-control" asp-for="@Model.Lnr.Id_Zona" asp-items="(List<SelectListItem>)ViewBag.CboZona">
                        <option value="">SELECCIONE</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="rowGroup">
        <h1 class="grupoT">3. Reconocimiento visual</h1>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-3 col-xs-12">Ancho:</label>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Ancho" class="form-control" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción Ancho:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Ancho_Desc" class="form-control" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-3 col-xs-12">Largo:</label>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Largo" class="form-control" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción Largo:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Largo_Desc" class="form-control" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-3 col-xs-12">Alto:</label>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Alto" class="form-control" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción Alto:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Alto_Desc" class="form-control" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-3 col-xs-12">Profundidad:</label>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Profundidad" class="form-control" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción Profu:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Profundidad_Desc" class="form-control" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-3 col-xs-12">Área:</label>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Area" class="form-control" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción Área</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Area_Desc" class="form-control" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-3 col-xs-12">Volumen:</label>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Volumen" class="form-control" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción Volumen:</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Volumen_Desc" class="form-control" maxlength="200" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="rowGroup">
        <h1 class="grupoT">4. Información Gráfica</h1>
        <div class="x_titleGroup">

            <div align="center" class="titulo-m">
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    @if (@Model.Lnr.Id_Lnr != 0)
                    {
                        <div class="boton">
                            <a href="#" data-toggle="modal" data-target="#modal4" onclick="ShowModal('@Url.Action("CrearInfoGrafica", "Lnr")', 'fullInfoGrafica')">Agregar  <i class="fa fa-plus"></i></a>
                        </div>
                    }
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Nombre de fotografía </th>
                        <th class="column-title">Fecha de toma </th>
                        <th class="column-title">Tamaño </th>
                        <th class="column-title">Descripción </th>
                        <th class="column-title no-link last" style="text-align:center"><span class="nobr">Opciones</span></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaInformacionGrafica.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="5">No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaInformacionGrafica)
                        {
                            <tr class="even pointer">
                                <td class=" col-lg-2 ">@item.Nombre_Imagen</td>
                                <td class=" col-lg-1 ">@item.Fecha_Toma</td>
                                <td class=" col-lg-1 ">@item.Tamano</td>
                                <td class=" col-lg-4 ">@item.Descripcion</td>
                                <td class=" col-lg-1" style="text-align:center">
                                    @if (item.Id_LaserFiche.GetValueOrDefault() > 0)
                                    {
                                        <button type="button" class="boton2" style="margin-right: 0px;" onclick="DescargarArchivo(@item.Id_LaserFiche.ToString(), '@item.Nombre_Imagen')"> <i class="fa fa-download"></i></button>
                                    }
                                </td>
                                @*<td class=" ">
                                        <ul class="nav navbar-left panel_toolbox">
                                            <li>
                                                <div class="boton2">
                                                    <a href="#"> <i class="fa fa-trash-o "></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="rowGroup">
        <h1 class="grupoT">5. Información Adicional</h1>
        <div class="x_titleGroup">

            <div align="center" class="titulo-m">
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    @if (@Model.Lnr.Id_Lnr != 0)
                    {
                        <div class="boton">
                            <a href="#" data-toggle="modal" data-target="#modal5" onclick="ShowModal('@Url.Action("CrearInfoDocumento", "Lnr")', 'fullInfoDocumento')">Agregar  <i class="fa fa-plus"></i></a>
                        </div>
                    }
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th class="column-title">Nombre de informe </th>
                        <th class="column-title">Fecha de informe </th>
                        <th class="column-title">Tamaño </th>
                        <th class="column-title">Descripción </th>
                        <th class="column-title no-link last" style="text-align:center"><span class="nobr">Opciones</span></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.ListaInformacionDocumento.Any())
                    {
                        <tr class="even pointer">
                            <td class=" " colspan="5">No existen registros</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.ListaInformacionDocumento)
                        {
                            <tr class="even pointer">
                                <td class=" col-lg-2 ">@item.Nombre_Documento</td>
                                <td class=" col-lg-1 ">@item.Fecha_Documento</td>
                                <td class=" col-lg-1 ">@item.Tamano</td>
                                <td class=" col-lg-4 ">@item.Descripcion</td>
                                <td class=" col-lg-1" style="text-align:center">
                                    @if (item.Id_LaserFiche.GetValueOrDefault() > 0)
                                    {
                                        <button type="button" class="boton2" style="margin-right: 0px;" onclick="DescargarArchivo(@item.Id_LaserFiche.ToString(), '@item.Nombre_Documento')"> <i class="fa fa-download"></i></button>
                                    }
                                </td>
                                @*<td class=" ">
                                        <ul class="nav navbar-left panel_toolbox">
                                            <li>
                                                <div class="boton2">
                                                    <a href="#"> <i class="fa fa-trash-o "></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>*@
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="rowGroup">
        <h1 class="grupoT">6. Temporalidad</h1>
        <div class="col-md-8 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <div class="checkbox">
                    <label class="">
                        <div class="icheckbox_flat-green checked" style="position: relative;">
                            <input type="checkbox" class="flat">
                        </div> Generado Previo al 2014
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Temporalidad (<font color="red">*</font>)</label>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <select id="vId_Temporalidad" class="select2_single form-control" asp-for="@Model.Lnr.Id_Temporalidad" asp-items="(List<SelectListItem>)ViewBag.CboTemporalidad">
                        <option value="">Seleccione</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="rowGroup">
        <h1 class="grupoT">7. Evaluación de Riesgos</h1>
        <div class="col-md-11 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBox("Lnr.Eva_Labor", @Model.Lnr.Eva_Labor)
                        &nbsp;Labor en superficie que pueda ocasionar caídas a desnivel de personas y animales
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBox("Lnr.Eva_Evidencia", @Model.Lnr.Eva_Evidencia)
                        &nbsp;Evidencia de falta de oxigeno o presencia de gases tóxicos
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBox("Lnr.Eva_Caida", @Model.Lnr.Eva_Caida)
                        &nbsp;Caída de elementos remanentes (rocas, estructuras, equipos,etc)
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Elementos)
                        &nbsp;Elementos inseguros remanentes que puedan causar lesiones punzo cortantes
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Drenajes)
                        &nbsp;Drenajes, infiltraciones, lixiviados, agua acumulada, sedimentos.
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Material)
                        &nbsp;Material generador de drenaje ácido, lixiviados y sedimentos.
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Afectacion)
                        &nbsp;Afectación de la cobertura vegetal fuera de la periferia de la LNR.
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Generador)
                        &nbsp;Generador de material particulado.
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Restos)
                        &nbsp;Restos de residuos químicos (sustancias tóxicas) expuestos.
                    </label>
                </div>
                <div class="checkbox">
                    <label class="flat">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Posibilidad)
                        &nbsp;Posibilidad de movimiento de masas por deslizamiento.
                    </label>
                </div>
                <div class="checkbox">
                    <label class="flat">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Potencial)
                        &nbsp;Potencial de colapso y/o subsidencia de labores mineras subterráneas que afecten a la propiedad.
                    </label>
                </div>
                <div class="checkbox">
                    <label class="">
                        @Html.CheckBoxFor(x => x.Lnr.Eva_Elemento)
                        &nbsp;Elemento de la propiedad afectado.
                    </label>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="x_title">
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ult. Registro</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Fec_Modifica" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Usuario</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Usu_Modifica" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cargo</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Lnr.Usu_Modifica" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="x_title2">
            <div align="center" class="titulo-m">
            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" class="boton" id="btnSubmit">
                        Guardar  <i class="fa fa-save"></i>
                    </button>
                </li>
                <li>
                    <div class="boton">
                        <a href="@Url.Action("AgregarEditar", "Expediente", new { vId = Model.Lnr.Id_Expediente })">Retornar  <i class="fa fa-ban"></i></a>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

    </div>

    <input type="hidden" asp-for="Lnr.Id_Expediente" />
    <input type="hidden" asp-for="Lnr.Nro_Expediente" />
    <input type="hidden" asp-for="Lnr.Ubigeo" id="Ubigeo" />
    <input type="hidden" asp-for="Lnr.Flg_Estado" />

</form>


<!-- Modal 4 Info Grafica -->
<div id="modal4" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frmInfoGrafica" data-ajax-method="POST" asp-controller="GrabarInfoGrafica" asp-action="Lnr" enctype="multipart/form-data" autocomplete="off" data-ajax="true">
                <div class="rowGroup" id="fullInfoGrafica">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- fin modal-->
<!-- Modal 5 Info Documento -->
<div id="modal5" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frmInfoDocumento" data-ajax-method="POST" asp-controller="GrabarInfoDocumento" asp-action="Lnr" enctype="multipart/form-data" autocomplete="off" data-ajax="true">
                <div class="rowGroup" id="fullInfoDocumento">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- fin modal-->



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            const vSubTipo = @Html.Raw(Json.Serialize(Model.CboSubTipo));

            $("#vId_Tipo_Lnr").on("change", function () {
                const o = vSubTipo.filter(o => o.id_Tipo_Pam == $("#vId_Tipo_Lnr").val()).map(function (o) { return { Value: o.id_Sub_Tipo_Pam, Text: o.descripcion }});
                $("#vId_Sub_Tipo_Lnr").empty();
                $("#vId_Sub_Tipo_Lnr").append("<option value=''>SELECCIONE</option>");
                o.forEach(function (o, i) { $("#vId_Sub_Tipo_Lnr").append('<option value="' + o.Value + '">' + o.Text + "</option>") });
            });


            var IdUbigeo = @Html.Raw(Json.Serialize(ViewBag.FullUbigeo));

            $("#vId_Region").on("change", function () {
                var data = IdUbigeo.filter(o => o.id_Departamento == $("#vId_Region").val());
                const prov = [...new Map(data.map(function (o) { return { id_Provincia: o.id_Provincia, provincia: o.provincia } }).map(o => [o.id_Provincia, o])).values()];
                $("#vId_Provincia,#vId_Distrito").empty().append('<option value="0">SELECCIONE</option>');
                prov.forEach(function (o, i) { $("#vId_Provincia").append('<option value="' + o.id_Provincia + '">' + o.provincia + "</option>") })
            });

            $("#vId_Provincia").on("change", function () {
                var data = IdUbigeo.filter(x => x.id_Provincia == $("#vId_Provincia").val());
                const dist = [...new Map(data.map(function (o) { return { id_Distrito: o.id_Distrito, distrito: o.distrito } }).map(o => [o.id_Distrito, o])).values()];
                $("#vId_Distrito").empty();
                $("#vId_Distrito").append('<option value="0">SELECCIONE</option>');
                dist.forEach(function (o, i) { $("#vId_Distrito").append('<option value="' + o.id_Distrito + '">' + o.distrito + '</option>') })
            });

            $("#vId_Distrito").on("change", function () { "0" === $("#vId_Distrito").val() ? $("#Ubigeo").val("") : $("#Ubigeo").val($("#vId_Distrito").val()) });
        });


        $("#btnSubmit").click(function () {
            var vModel = $("#MyForm").serializeArray();

            var vData = {};
            $.map(vModel, function (n, i) { vData[n.name.replace("Lnr.", "")] = n.value; });
            vData.Eva_Labor = $("input[name='Lnr.Eva_Labor']").is(":checked");
            vData.Eva_Evidencia = $("input[name='Lnr.Eva_Evidencia']").is(":checked");
            vData.Eva_Caida = $("input[name='Lnr.Eva_Caida']").is(":checked");
            vData.Eva_Elementos = $("input[name='Lnr.Eva_Elementos']").is(":checked");
            vData.Eva_Drenajes = $("input[name='Lnr.Eva_Drenajes']").is(":checked");
            vData.Eva_Material = $("input[name='Lnr.Eva_Material']").is(":checked");
            vData.Eva_Afectacion = $("input[name='Lnr.Eva_Afectacion']").is(":checked");
            vData.Eva_Generador = $("input[name='Lnr.Eva_Generador']").is(":checked");
            vData.Eva_Restos = $("input[name='Lnr.Eva_Restos']").is(":checked");
            vData.Eva_Posibilidad = $("input[name='Lnr.Eva_Posibilidad']").is(":checked");
            vData.Eva_Potencial = $("input[name='Lnr.Eva_Potencial']").is(":checked");
            vData.Eva_Elemento = $("input[name='Lnr.Eva_Elemento']").is(":checked");
            console.log(vData);

            $.ajax({
                type: "POST",
                url: $("#MyForm").attr("action"),
                data: vData,
                success: function (data) {
                    if (data.operation == "@Constantes.Ok") {
                        Success("@Constantes.MsgOk");
                        window.location.reload();
                    } else {
                        //Error("@Constantes.MsgErr");
                        "@((int)TipoErr.MODEL)" == data.type ? Info("@Constantes.MsgModel") : Error("@Constantes.MsgErr")
                    }
                },
                error: function (req, status, error) {
                    alert(req);
                    alert(status);
                    alert(error);
                }
            });

        });



        ShowModal = function (vUrl, vBody) {
            $.get(vUrl + "?vIdLnr=@Model.Lnr.Id_Lnr", function (data) { $('#'+vBody).html(data) });
        }


        SaveInfoGrafica = function () {
            var e = new FormData, r = document.getElementById("vFile").files.length;
            if (0 == r) {
                Info("Seleccione el archivo");
            }
            else {
                for (var a, o = 0; r > o; o++) {
                    a = document.getElementById("vFile").files[o];
                    e.append("vFile", a);
                };

                var vData = $("#frmInfoGrafica").serialize().replace(/[+]/g, " ").split("&");
                vData.forEach(function (a) { a = a.split("="); e.append(a[0], a[1]) });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GrabarInfoGrafica", "Lnr")",
                    data: e,
                    dataType: "json",
                    contentType: !1,
                    processData: !1,
                    success: function (x) {
                        if (x.operation == "@Constantes.Ok") {
                            $("#modal4").modal("toggle");
                            window.location.reload();
                            Success("@Constantes.MsgOk");
                            //$("#DivInformacionGrafica").load("@Url.Action("ListarInfoGrafica", "Lnr", new { vIdEum = Model.Lnr.Id_Lnr })", function () { fullLoadTable("#fulltbl7"); });
                        } else {
                            "@((int)TipoErr.MODEL)" == x.type ? Info("@Constantes.MsgModel") : Error("@Constantes.MsgErr");
                        }
                    }
                });
            }
        }


        SaveInfoDocumento= function () {
            var e = new FormData, r = document.getElementById("vFile").files.length;
            if (0 == r) {
                Info("Seleccione el documento");
            }
            else {
                for (var a, o = 0; r > o; o++) {
                    a = document.getElementById("vFile").files[o];
                    e.append("vFile", a);
                };

                var vData = $("#frmInfoDocumento").serialize().replace(/[+]/g, " ").split("&");
                vData.forEach(function (a) { a = a.split("="); e.append(a[0], a[1]) });

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GrabarInfoDocumento", "Lnr")",
                    data: e,
                    dataType: "json",
                    contentType: !1,
                    processData: !1,
                    success: function (x) {
                        if (x.operation == "@Constantes.Ok") {
                            $("#modal5").modal("toggle");
                            window.location.reload();
                            Success("@Constantes.MsgOk");
                            //$("#DivInformacionGrafica").load("@Url.Action("ListarInfoDocumento", "Lnr", new { vIdEum = Model.Lnr.Id_Lnr })", function () { fullLoadTable("#fulltbl7"); });
                        } else {
                            "@((int)TipoErr.MODEL)" == x.type ? Info("@Constantes.MsgModel") : Error("@Constantes.MsgErr");
                        }
                    }
                });
            }
        }


        function fMaxLength(e) { e.value.length > e.maxLength && (e.value = e.value.slice(0, e.maxLength)) }


        function DescargarArchivo(vKey, vName) {
            window.location = "@Url.Action("DescargarArchivo", "RegistrarPAM")?vKey=" + vKey + "&vName=" + vName;
        }


    </script>
}