@using Minem.Sgpam.InfraEstructura;
@model Minem.Sgpam.TransporteDatos.DtoEntidades.RegistrarExpedienteDTO

@{
    ViewData["Title"] = "Expediente de LNRs";
}

<form id="MyForm" asp-controller="Expediente" asp-action="AgregarEditar" autocomplete="off" data-ajax="true" data-ajax-method="POST">

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Expediente</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Expediente.Nro_Expediente" class="form-control" placeholder="253-2019" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre de declarante</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Expediente.Declarante" class="form-control" placeholder="" maxlength="50">
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Expediente.Fec_Ingreso" class="form-control" placeholder="2022" maxlength="10" />
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Zona /concesíón /Proyecto</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Expediente.Zona" class="form-control" placeholder="Empresa minera SA" maxlength="50">
                </div>
            </div>
        </div>

        <ul class="nav navbar-right panel_toolbox">
            <li>
                @if (@Model.Expediente.Id_Expediente != 0)
                {
                    <div class="boton">
                        <a asp-controller="Lnr" asp-action="GenerarInfoExp"> Generar Informe <i class="fa fa-eject"></i></a>
                    </div>
                }
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>


    <div class="x_title2">
        <div align="center" class="titulo-m">
            <h3>Labores no Rehabilitados</h3>
        </div>


        <ul class="nav navbar-right panel_toolbox">
            <li>
                @if (@Model.Expediente.Id_Expediente != 0)
                {
                    <div class="boton">
                        <a asp-controller="Lnr" asp-action="AgregarEditar"> Agregar <i class="fa fa-plus"></i></a>
                    </div>
                }
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>


    <table id="datatable" class="table table-striped table-bordered pam">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Declarante</th>
                <th>Tipo de LNR</th>
                <th>Codigo</th>
                <th>Este</th>
                <th>Norte</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.ListaLNR.Any())
            {
                <tr class="even pointer">
                    <td class=" " colspan="7">
                        No existe registros
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.ListaLNR)
                {
                    <tr class="odd pointer">
                        <td class=" ">
                            @item.Id_Lnr.ToString("D9")
                        </td>
                        <td class=" ">
                            @item.Nom_Declarante
                        </td>
                        <td class=" ">
                            @item.Des_Tipo_Lnr
                        </td>
                        <td class=" ">
                            @item.Codigo_Declarado
                        </td>
                        <td class=" ">
                            @item.Este
                        </td>
                        <td class=" ">
                            @item.Norte
                        </td>
                        <td class=" ">
                            <div class="boton2">

                                <a asp-action="AgregarEditar" asp-controller="Lnr" asp-route-vId="@item.Id_Lnr" title="Editar Registro">
                                    <i class="fas fa-edit"></i>
                                </a>

                                @*<a href="@Url.Action("AgregarEditar", "Lnr", new { vId = item.Id_Lnr })">
                                        <i class="fa fa-edit "></i>
                                    </a>*@

                            </div>
                            <div class="boton2">
                                <a href="#" onclick="FullRemoveComponent(@item.Id_Lnr)">
                                    <i class="fa fa-trash-o "></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
        @*<tbody>
                <tr>
                    <td>
                        <div class="boton2">
                            <a href="#"> Generar <i class="fa fa-plus-square-o"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>*@
    </table>

    <div class="x_title">
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ult. Registro</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Expediente.Fec_Ingreso" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Usuario</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Expediente.Usu_Ingreso" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cargo</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Expediente.Usu_Modifica" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="x_title2">
            <div align="center" class="titulo-m">

            </div>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" class="boton" id="btnSubmit">
                        Guardar  <i class="fa fa-save"></i>
                    </button>
                </li>
                <li>
                    <div class="boton">
                        <a asp-action="Index"> Cancelar <i class="fa fa-ban"></i></a>
                    </div>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
    </div>


</form>